header, main {
  background: url('http://img13.deviantart.net/b5a4/i/2006/153/0/8/water_background_stock_by_kansheera_stock.jpg');
  background-color: #1F7DA9;
  color: white;
}
header a {
  color: white;
}
footer {
  background: url('http://content.wallpapers-room.com/resolutions/1920x1200/B/Wallpapers-room_com___Black_Background_Set_Metal_Hole_by_iAmFreeman_1920x1200.jpg'); repeat-x;
  background-color: #0E2A20;
  color: white;
}

/* links */
a { color: #8AD7C7;}
a:not(.btn):not(.noeffect):after { background-color: #8AD7C7; }
a:not(.btn):not(.noeffect):hover { color: #8AD7C7; }
a:not(.btn):not(.noeffect):hover:after { color: #8AD7C7; }

/* buttons */
.btn, button, [type=button], [type=submit] { background-color: orange; color:white;}
.btn-default { background-color: orange; color:white;}
.btn-primary { background-color: black; color:white;}
.btn-error { background-color: red; color:white;}
.btn-alert { background-color: yellow; color: black; }
.btn-info { background-color: blue; color:white;}

/* tables */
tbody tr:hover {background-color: #fbf6d9;}
thead tr { background-color: #f1f1f1;}
tbody tr { border-bottom: 2px solid #f1f1f1;}

/* menu (dark) */
ul.menu ul { background: black; border: 1px solid black; }
ul.menu ul a { color: white; }
ul.menu>li>ul>li:first-child:before{ border-bottom-color: black; }
